/* General font style for the entire app */
body, .content-wrapper, .right-side, .main-footer, .main-header, .sidebar, .control-sidebar {
    font-family: 'Mulish', sans-serif;
}

/* Adjust the margin of the main content area */
.content-wrapper {
    margin-left: 200px !important; /* Ensure this matches the sidebar width */
    margin-top: 60px !important;
}

/* Style container to remove list style and position correctly */
.header-title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the container */
    margin-left: 150px; /* Match the sidebar width */
    position: relative; /* Ensure the container is positioned correctly */
    width: 220px; /* Match the width of the sidebar-footer */
    text-align: center; /* Center the title text */
    padding: 5px 0; /* Add padding to give some space around the title */
    background-color: #fff; /* Light background color to distinguish the title area */
    border-radius: 8px; /* Optional: Add rounded corners for a modern look */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a more professional look */

}

/* Style for the header title */
.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #0137A6;
    padding-left: 15px; /* Space after the vertical line */
}


.leads-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; /* Align items to the start of the container */
    margin: 10px 10px 10px 10px; /* Match the sidebar width */
    position: relative; /* Ensure the container is positioned correctly */
    width: auto; /* Match the width of the sidebar-footer */
    padding: 10px 5px; /* Add padding to give some space around the title */
    background-color: #fff; /* Light background color to distinguish the title area */
    border-radius: 8px; /* Optional: Add rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.05);/* Subtle shadow for a more professional look */
    font-family: 'Mulish', sans-serif;
    z-index: 1050;
}

.leads-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #0137A6;
    text-align: left; /* Space after the vertical line */
    padding-left: 30px;
}




/* Remove default navbar-brand which might be showing */
.navbar-brand {
    display: none;  /* Hides any default navbar branding */
}



/* Set the background color of the sidebar */
.main-sidebar {
    background-color: #fff !important;  /* Apply the desired color */
    width: 200px;
    padding-top: 80px;
    position: fixed; /* Keep the sidebar fixed */
    top: 60px;   
    height: calc(100% - 60px);
    box-shadow: none !important;
    z-index: 1050;
}


/* Ensure no other internal styles are conflicting */
.navbar, .main-header {
    width: 100% !important; /* Set navbar to span the entire width */
    margin-left: 0 !important; /* Ensure the navbar is aligned to the left */
    position: fixed; /* Keep the navbar fixed at the top */
    z-index: 1030; /* Ensure it's above the sidebar */
    top: 0; /* Pin to the top of the page */
    height: 60px; 
    background-color: white; /* Add a background color to match the design */
}

/* Optional: Adjust text color to improve contrast */
.sidebar-menu .nav-link {
    color: #333333; /* Adjust this as needed for better contrast */
}

.sidebar-menu .nav-link:hover {
    background-color: #e0dedb; /* A hover color similar to the background */
}

.control-bar {
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
  }
  
  .control-button {
    margin-right: 10px; 
    background-color: #007bff;
    color: white; ;
  }

    /* Sidebar Footer*/
.sidebar-footer {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    text-align: centre;
    padding: 10px 0; /* Add padding to give some space around the logo */
    background-color: #fff; /* Light background color to distinguish the logo area */
    z-index: 1050;
}
  
  .sidebar-footer img {
    height: 60px; /* Adjust the height of the logo as needed */
    max-width: 100%; /* Ensure the logo scales within the container */
    background-color: #ffffff; /* Optional: Add a background behind the logo */
    border-radius: 8px; /* Optional: Add rounded corners for a modern look */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a more professional look */
    padding: 10px; /* Optional: Add a slight shadow around the logo */
  }

    /* CSS for select input styling */
    #divisionSelectContainer {
        width: 30%; /* Adjust the width of the select input as needed */
        float: left; /* Align to the left */
        margin-right: 20px; /* Add some space to the right of the select input */
    }
    

/* Footer styling */
.body-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f4f2ee;
    color: black;
    text-align: center;
    padding: 10px;
    z-index: 1030;
}

/* Data table header styling */
.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
}

/* Enhance center alignment for all columns */
.dt-center, .dataTable th, .dataTable td {
    text-align: center !important;
}

/* Specific header styles for dataTable */
.dataTable thead th {
    background-color: white;
    color: black;
    text-align: center !important; /* Ensuring center alignment is enforced */
}

/* Responsive table adjustments */
table.dataTable {
    width: 100% !important; /* Force table width to respect container size */
}


